



@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: Mooli, san-serif;
}





body {
    font-size: 1.2em;
    background-color: lightgray;
  }



header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 5px 20px;
}

header h1 {
    font-family: var(--secondary-font);
}



a {
  text-align: center;
  display: block;
  width: 100%;
  color: var(--text-light);
}

button {
  background: none;
  color: var(--text-light);
  border: none; 
  padding: 0; 
  font-family: var(--primary-font); 
  font-size: 1.2em;
}

.button_class {
  display: block;
  text-align: center;
  margin: 0px 0px 5px;
}

.images {
  text-align: center;
}

img {
  border: white 5px solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
}






main {
    font-family: var(--secondary-font);
}

h1 {
    text-align: center;
}


img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}







footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 20px 0px;
  text-align: center;
}






  
  
  @media screen and (min-width: 700px) {
  a {
    display: none;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  }



  @media screen and (min-width: 1000px) {
    
    .a_tags {
      text-align: center;
    }
    
    a {
      display: inline;
      padding: 50px;
    }

    .button_class {
      display: none;
    }

    .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }