
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: Mooli, san-serif;
}


body {
    font-size: 1.2em;
  }



header {
    background-color: var(--primary-color);
    color: var(--text-light);
}

header h1 {
    font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--text-light);
}

button {
    
}









main {
    font-family: var(--secondary-font);
}

h1 {
    text-align: center;
}


img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}












  
  
  @media screen and (min-width: 700px) {
    main {
      
    }
  }



  @media screen and (min-width: 1000px) {
    main {
      
    }

  }