@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  --primary-color: #AF1B3F;
  --secondary-color: #473144;
  --accent-color: #EFC69B;
  --text-dark: #473144;
  --text-light: #ebebeb;
  --primary-font: 'Lora', Impact, serif;
  --secondary-font: Helvetica, Arial, sans-serif;
}



header {
    padding: 50px 0px 15px;;
}

h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}


.skiptocontent a {
    position: absolute;
    top: -40px;
    background-color: var(--primary-color);
    color: var(--text-light);
}
.skiptocontent a:focus {
	top: 0px;
}


nav {
    margin-top: 40px;
    border-top: solid 2px var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
}


.main-nav {
    display: grid;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}








a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}


h2 {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

p, h3 {
    color: var(--text-dark);
    font-family: var(--secondary-font);
    font-weight: normal;
}


.date {
    border-right: 1px solid var(--accent-color);
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
}

.book {
    margin-right: 50px;
}

.book_img {
    text-align: center;
}

img {
    max-width: 200px;
}
   







.first_grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.second_grid {
    display: none;
    padding-left: 5px;
}

.whole_grid {
    display:grid;
    grid-template-columns: 1fr;
    padding: 10px 20px;
}



html {
    border: none;
}



 @media screen and (min-width: 500px) {

.main-nav {
    display: grid;
    padding: 15px 0px;
    grid-template-columns: 70px 70px 70px;
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    max-width: 85%;
    margin: 0 auto;
    font-weight: bold;
}



.first_grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.second_grid {
    display: block;
    border: solid 2px var(--accent-color);
}

.whole_grid {
    display:grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px 20px;
}

}
